@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  background : #28045C;
  overflow-x : hidden;
}

.active {
    border-bottom: 1px solid #e6c8d3;
    font-weight: 600;
  }

  .active1 {
    background : #9348FF;
  }